---
import Icon from '../../public/icon-cart.svg';
---

<button class='flex w-full m-auto text-white justify-center font-semibold items-center gap-[10px] my-5 p-4 rounded-xl bg-darkCyan hover:bg-veryDarkBlue transition-colors hover:shadow-lg'>
  <img src={Icon.src} alt='icon cart' />
  Add To Cart
</button>