---
import Icon from '../../public/icon-cart.svg';
---

<button class='flex w-full m-auto text-white justify-center items-center gap-[10px] my-5 p-4 rounded-xl bg-darkCyan hover:scale-110 hover:bg-veryDarkBlue transition-all'>
  <img src={Icon.src} alt='icon cart' />
  Add To Cart
</button>