---
---

<section class='p-5 flex flex-col justify-between md:w-1/2 md:p-8'>
  <h2 class='text-sm tracking-[0.3em] text-darkGrayishBlue'>PERFUME</h2>
  <h1 class='text-[32px] py-2 text-balance leading-8 md:text-5xl md:py-4'>Gabrielle Essence Eau De Parfum</h1>
  <p class='text-md text-darkGrayishBlue py-2'>
    A floral, solar and voluptuous interpretation composed by Olivier Polge, Perfumer-Creator for the House of CHANEL.
  </p>
  <slot />
</section>

<style>
  h1{
    font-family: 'Fraunces', serif;
  }
</style>