---
---

<div class='flex flex-wrap'>
  Challenge by <a class='text-darkCyan px-1' href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
  Coded by <a class='text-darkCyan px-1' href="https://github.com/AbrahamEspina">Abraham Espinosa</a>.
</div>

<style>
  a{
    font-family: 'Fraunces', serif;
  }
</style>